.page-content {
    margin: auto;
    width: 80%;
    text-align: center;
}
.h1-class {
    color: #009688;
}
.h2-class {
    color: #7933FF;
    width: 80%;
    margin-right: 20%;
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
}
.icon-class {
    height: auto;
}
.form-class {
    text-align: left;
    width:90%;
    margin-left:5% !important;
    margin-right:5% !important;
    border: solid 1px #7933FF;
    padding: 10px 10px 10px 10px;
}
.submit-class {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    
}
#submit {
    background-color: #7933FF;
    color: white;
}